:root {
  --background: rgb(39, 34, 54);
  --highlight: rgb(103, 87, 252);
  --cell: rgb(87, 252, 156);
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  color: white;
  container-type: inline-size;
}

main {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas {
  display: block;
}

wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

rules {
  padding: 1em 2em;
  display: block;
  columns: 300px;
  column-gap: 2em;
}

rule {
  font-size: 1.1em;
  display: block;
  margin-bottom: 2rem 0;
  padding: 0.4em;
  break-inside: avoid-column;
}

input {
  display: inline-block;
  margin: 0 10px;
}

input + span {
  font-weight: bold;
  color: var(--cell);
}

button {
  background-color: var(--highlight);
  padding: 0.6em 2.4em;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

time {
  position: fixed;
  right: 2em;
  font-size: 0.6em;
  background-color: var(--background);
  padding: 4px;
  transform: translateY(-100%);
  font-family: monospace;
}

footer {
  width: 100%;
  text-align: right;
  font-family: monospace;
  font-size: 0.5em;
  padding: 10px;
}

a {
  color: inherit;
}

a:hover {
  color: var(--highlight);
}

@container (width > 1080px) {
  rules {
    max-height: 200px;
  }
}
